<div class="tab-pane" id="educationPanel">
  <div class="accordion" id="educationAccordion">
    <div class="accordion-group">
      <div class="accordion-heading">
        <div class="label-helper accordion-toggle">
          <div class="pull-left control-label">Educational Use</div>
          <div class="pull-right"><i class="icon-question-sign" data-placement="left" data-content="The purpose of the work in the context of education."></i></div>
        </div>
      </div>
      <div id="endUserDiv" class="accordion-body">
        <div class="accordion-inner">
          <select multiple="multiple" class="multiple input-xlarge" name="educationalUse[]" id="educationalUse">
            <option>Assessment</option>
            <option>Curriculum and Instruction</option>
            <option>Enhancement</option>
            <option>Intervention</option>
            <option>Professional Development</option>
          </select>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <div class="label-helper accordion-toggle">
          <div class="pull-left control-label">Educational Role</div>
          <div class="pull-right"><i class="icon-question-sign" data-placement="left" data-content="The role that describes the target audience of the content."></i></div>
        </div>
      </div>
      <div id="endUserDiv" class="accordion-body">
        <div class="accordion-inner">
          <select multiple="multiple" class="multiple input-xlarge" name="endUser[]">
            <option>Administrator</option>
            <option>Parent</option>
            <option>Student</option>
            <option>Teacher</option>
          </select>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <div class="label-helper accordion-toggle">
          <div class="pull-left control-label">Age Range</div>
          <div class="pull-right"><i class="icon-question-sign" data-placement="left" data-content="The typical range of ages the content’s intended end user."></i></div>
        </div>
      </div>
      <div id="ageRangeDiv" class="accordion-body">
        <div class="accordion-inner">
          <select multiple="multiple" class="multiple input-xlarge" name="ageRange[]" id="ageRange">
            <option>0-2</option>
            <option>3-5</option>
            <option>5-8</option>
            <option>8-10</option>
            <option>10-12</option>
            <option>12-14</option>
            <option>14-16</option>
            <option>16-18</option>
            <option>18+</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
