<div class="tab-pane active" id="generalPanel">
  <table class="table-condensed">
    <tbody><tr>
      <td>
        <label class="control-label" for="url">Website URL</label>
        <input type="text" class="input-xlarge" name="url" placeholder="Website URL" style="cursor: auto; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;">
      </td>
    </tr>
    <tr>
      <td>
        <label class="control-label" for="title">Page Title</label>
        <input type="text" class="input-xlarge" name="title" placeholder="Title">
      </td>
    </tr>
    <tr>
      <td>
        <label class="control-label" for="tagDescription">Site Description</label>
        <textarea rows="3" cols="1" class="input-xlarge" name="tagDescription" placeholder="Description"></textarea>
      </td>
    </tr>
    <tr>
      <td>
        <label class="control-label" for="topic">Topic/Subject</label>
        <input type="text" class="input-xlarge" name="topic" placeholder="Topic/Subject">
      </td>
    </tr>
    <tr>
      <td>
        <label class="control-label" for="publisher">Publisher</label>
        <input type="text" class="input-xlarge" name="publisher" placeholder="Publisher">
      </td>
    </tr>
    <tr>
      <td>
        <label class="control-label" for="createdBy">Created By</label>
        <input type="text" class="input-xlarge" name="createdBy" placeholder="Created By">
      </td>
    </tr>
    </tbody></table>
</div>
