<div class="tab-pane active" id="generalPanel">
  <table class="table-condensed">
    <tbody><tr>
      <td>
        <div class="label-helper">
          <div class="pull-left control-label">Website URL</div>
          <div class="pull-right"><i class="icon-question-sign" data-placement="left" data-content="Website URL of the item."></i></div>
        </div>
        <input type="text" class="input-xlarge" name="url" id="url" placeholder="Website URL" style="cursor: auto; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;">
      </td>
    </tr>
    <tr>
      <td>
        <div class="label-helper">
          <div class="pull-left control-label">Page Title</div>
          <div class="pull-right"><i class="icon-question-sign" data-placement="left" data-content="The title of the resource."></i></div>
        </div>
        <input type="text" class="input-xlarge" name="title" placeholder="Title">
      </td>
    </tr>
    <tr>
      <td>
        <div class="label-helper">
          <div class="pull-left control-label">Page Description</div>
          <div class="pull-right"><i class="icon-question-sign" data-placement="left" data-content="A textual description of the resource."></i></div>
        </div>
        <textarea rows="3" cols="1" class="input-xlarge" name="description" placeholder="Description"></textarea>
      </td>
    </tr>
    <tr>
      <td>
        <div class="label-helper">
          <div class="pull-left control-label">Topic/Subject</div>
          <div class="pull-right"><i class="icon-question-sign" data-placement="left" data-content="The subject of the content."></i></div>
        </div>
        <input type="text" class="input-xlarge" name="about" placeholder="Topic/Subject">
      </td>
    </tr>
    <tr>
      <td>
        <div class="label-helper">
          <div class="pull-left control-label">Publisher</div>
          <div class="pull-right"><i class="icon-question-sign" data-placement="left" data-content="The organization credited with publishing the resource."></i></div>
        </div>
        <input type="text" class="input-xlarge" name="publisher" placeholder="Publisher">
      </td>
    </tr>
    <tr>
      <td>
        <div class="label-helper">
          <div class="pull-left control-label">Author</div>
          <div class="pull-right"><i class="icon-question-sign" data-placement="left" data-content="The individual credited with the creation of the resource."></i></div>
        </div>
        <input type="text" class="input-xlarge" name="author" placeholder="Author">
      </td>
    </tr>
    </tbody></table>
</div>
