<div class="tab-pane" id="resourcePanel">
  <div class="accordion" id="resourceAccordion">
    <div class="accordion-group">
      <div class="accordion-heading">
        <div class="label-helper accordion-toggle">
          <div class="pull-left control-label">Learning Resource Type</div>
          <div class="pull-right"><i class="icon-question-sign" data-placement="left" data-content="The predominant type or kind characterizing the learning resource."></i></div>
        </div>
      </div>
      <div id="learningResourceDiv" class="accordion-body">
        <div class="accordion-inner">
          <select multiple="multiple" class="multiple input-xlarge" id="learningResource" name="learningResource[]">
            <option>Alternate Assessment</option>
            <option>Assessment Item</option>
            <option>Career Information</option>
            <option>Course</option>
            <option>Curriculum</option>
            <option>Demonstration/Simulation</option>
            <option>Formative Assessment</option>
            <option>Game</option>
            <option>Image/Visuals</option>
            <option>Interim/Summative Assessment</option>
            <option>Lab Material</option>
            <option>Learning Task</option>
            <option>Learning/Curriculum Map</option>
            <option>Manipulative</option>
            <option>Other</option>
            <option>Primary Source</option>
            <option>Reading Material</option>
            <option>Reference Material</option>
            <option>Rubric/Scoring Guide</option>
            <option>Self Assessment</option>
            <option>Syllabus</option>
            <option>Unit</option>
          </select>
        </div>
      </div>
    </div>

      <div class="accordion-group">
        <div class="accordion-heading">
          <div class="label-helper accordion-toggle">
            <div class="pull-left control-label">Media Type</div>
            <div class="pull-right"><i class="icon-question-sign" data-placement="left" data-content="The type of media the learning resource is delivered in."></i></div>
          </div>
        </div>
        <div id="mediaTypeDiv" class="accordion-body">
          <div class="accordion-inner">
            <select multiple="multiple" class="multiple input-xlarge" name="mediaType[]" id="mediaType">
              <option>Application/Software</option>
              <option>Archive</option>
              <option>Audio</option>
              <option>Document/Text</option>
              <option>Image</option>
              <option>Interactive Whiteboard</option>
              <option>Non-Digital</option>
              <option>Other</option>
              <option>PDF</option>
              <option>Slides</option>
              <option>Spreadsheet</option>
              <option>Video</option>
              <option>Webpage</option>
            </select>
          </div>
        </div>
      </div>

      <div class="accordion-group">
        <div class="accordion-heading">
          <div class="label-helper accordion-toggle">
            <div class="pull-left control-label">Time Required</div>
            <div class="pull-right"><i class="icon-question-sign" data-placement="left" data-content="Approximate or typical time it takes to work with or through this learning resource for the typical intended target audience."></i></div>
          </div>
        </div>
        <div id="mediaTypeDiv" class="accordion-body">
          <div class="accordion-inner">
            <input type="text" class="input-xlarge" name="timeRequired" placeholder="ISO 8601 format: 2D4H30M">
          </div>
        </div>
      </div>
  </div>

</div>
