<div class="tab-pane" id="standardsPanel">
  <div class="accordion" id="standardsAccordion">
    <div class="accordion-group">
      <div class="accordion-heading">
        <div class="label-helper accordion-toggle">
          <div class="pull-left control-label">Standards</div>
          <div class="pull-right"><i class="icon-question-sign" data-placement="left" data-content="Standards uses alignment objects, which are intangible items that describes an alignment between a learning resource and a node in an educational framework."></i></div>
        </div>
      </div>
      <div id="endUserDiv" class="accordion-body">
        <table class="table table-striped" id="currentAlignmentTable">
          <thead>
          <tr>
            <th>Dot Notation</th>
            <th>Alignment</th>
          </tr>
          </thead>
          <tbody>
          <tr class="noAlignmentsYet">
            <td colspan="2">[ No alignments for this session ]</td>
          </tr>
          </tbody>
        </table>

        <button class="btn btn-mini btn-success add-alignment pull-right"><i class="icon-tag"></i> Add Alignment</button>
      </div>
    </div>
  </div>
</div>

