<div class="tab-pane" id="standardsPanel">
  <div class="accordion" id="standardsAccordion">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#educationAccordion" href="#endUserDiv" id="endUserLink">Standards</a>
      </div>
      <div id="endUserDiv" class="accordion-body">
        <div class="accordion-inner">
          Standards tab
      </div>
    </div>
  </div>
</div>