<div class="tab-pane" id="usagePanel">
  <div class="accordion" id="usageAccordion">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-parent="#usageAccordion" href="#educationalUseDiv" id="educationalUse">Educational Use</a>
      </div>
      <div id="endUserDiv" class="accordion-body">
        <div class="accordion-inner">
          <select multiple="multiple" class="multiple input-xlarge" id="endUser" style="height: auto">
            <option>Assessment</option>
            <option>Curriculum and Instruction</option>
            <option>Enhancement</option>
            <option>Intervention</option>
            <option>Professional Development</option>
          </select>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#usageAccordion" href="#learningResourceDiv">Learning Resource Type</a>
      </div>
      <div id="learningResourceDiv" class="accordion-body">
        <div class="accordion-inner">
          <select multiple="multiple" class="multiple input-xlarge" id="learningResource">
            <option>Alternate Assessment</option>
            <option>Assessment Item</option>
            <option>Career Information</option>
            <option>Course</option>
            <option>Curriculum</option>
            <option>Demonstration/Simulation</option>
            <option>Formative Assessment</option>
            <option>Game</option>
            <option>Image/Visuals</option>
            <option>Interim/Summative Assessment</option>
            <option>Lab Material</option>
            <option>Learning Task</option>
            <option>Learning/Curriculum Map</option>
            <option>Manipulative</option>
            <option>Other</option>
            <option>Primary Source</option>
            <option>Reading Material</option>
            <option>Reference Material</option>
            <option>Rubric/Scoring Guide</option>
            <option>Self Assessment</option>
            <option>Syllabus</option>
            <option>Unit</option>
          </select>
        </div>
      </div>

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-parent="#usageAccordion" href="#mediaTypeDiv" id="mediaTypeDiv">Media Type</a>
        </div>
        <div id="mediaTypeDiv" class="accordion-body">
          <div class="accordion-inner">
            <select multiple="multiple" class="multiple input-xlarge" id="mediaType" style="height: auto">
              <option>Application/Software</option>
              <option>Archive</option>
              <option>Audio</option>
              <option>Document/Text</option>
              <option>Image</option>
              <option>Interactive Whiteboard</option>
              <option>Non-Digital</option>
              <option>Other</option>
              <option>PDF</option>
              <option>Slides</option>
              <option>Spreadsheet</option>
              <option>Video</option>
              <option>Webpage</option>
            </select>
          </div>
        </div>
      </div>




    </div>
  </div>

</div>
