<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>LRMI Tagger</title>
  <link href="./application.css" media="all" rel="stylesheet" type="text/css">
  <link href="./appmain.css" media="all" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <style>
  .ui-widget-content{
  z-index:99999;
  }
  .ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 100px;
  }
  </style>
</head>
<body>
<div class="container-fluid header">
  <div class="pull-left logo">
  </div>
  <div id="userWelcome" class="pull-right">
  </div>
</div>

<div class="container-fluid header-title">
<table>
  <tr>
    <td>LRMI Tagger</td>
    <td></td>
  </tr>
</table>
</div>

<div class="container-fluid">

  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <div class="pull-left">
          <button class="btn btn-success" id="newbutton"><i class="icon-edit icon-white"></i> New</button>
          <!-- <button class="btn btn-success" id="loadButton" data-toggle="modal" href="#loadModal"><i class="icon-upload icon-white"></i> Import</button> -->

          <div class="btn-group">
            <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-download icon-white"></i> Use  <span class="caret"></span></a>

            <ul class="dropdown-menu">
              <li><a id="exportCsvButton" href="#"> Learning Registry</a></li>
              <li><a id="exportJsonButton" href="javascript:document.forms['LRMIData'].action='rdfa';document.forms['LRMIData'].submit();"> RDFa</a></li>
            </ul>
          </div>
        </div>
        <div class="pull-left navbar-text">Version 2.0</div>

        <div class="pull-right">
          <!-- <a class="btn btn-inverse" target="_blank" href="http://www.corestandards.org/"><i class="icon-info-sign icon-white"></i> CCSS Web</a>-->
        </div>

      </div>
    </div>
  </div>



  <div id="mainContentTopRight" class="main-content-topright border-right">
    <ul class="nav nav-tabs">
      <li id="generalTab" class="active"><a href="#generalPanel" data-toggle="tab">General</a></li>
      <li id="educationTab" class=""><a href="#educationPanel" data-toggle="tab">Education</a></li>
      <li id="usageTab" class=""><a href="#usagePanel" data-toggle="tab">Usage</a></li>
      <li id="standardsTab" class=""><a href="#standardsPanel" data-toggle="tab">Standards</a></li>
    </ul>

    <form name="LRMIData" id="LRMIData" method="post">
      <fieldset>

        <div class="tab-content" id="dataTabs">
          <%= erb :_general %>
          <%= erb :_education %>
          <%= erb :_usage %>
          <%= erb :_standards %>
        </div>

      </fieldset>
    </form>

  </div>

  <div id="mainContentBottom" class="page">
    <iframe id="iframe" sandbox="allow-same-origin allow-scripts allow-popups allow-forms" scrolling="auto" frameborder="0" width="100%" height="100%"></iframe>
  </div>
</div>

<div class="container-fluid footer">
  <div class="pull-left logo">LRMI Tagger</div>
</div>


<div id="alignmentsModal" class="modal hide fade bigModal">
  <div class="modal-header">
    <a onclick="$('#alignmentsModal').modal('hide');" class="close">×</a>
    <h3>Add Education Alignment</h3>
  </div>
  <div class="modal-body">

    <input type="hidden" id="itemGUID">
    <table cellspacing="2" cellpadding="5" class="table-condensed">
      <tbody><tr>
        <td style="text-align:left;">
          <label class="control-label" for="educationalAlignment">Educational Alignment</label>
          <select class="input-xlarge required" id="educationalAlignment">
			<option value="CCSS - English Language Arts"  selected="selected">CCSS - English Language Arts</option>
			<option value="CCSS - Mathematics">CCSS - Mathematics</option>
          </select>
        </td>
        <td style="text-align:left;">
          <label class="control-label" for="alignmentType">Alignment Type</label>
          <select class="input-xlarge required" id="alignmentType">
            <option>Alignment Type...</option>
            <option value="assesses">Assesses</option>
            <option value="teaches" selected="selected">Teaches</option>
            <option value="requires">Requires</option>
          </select>
        </td>
      </tr>
      <tr>
        <td style="text-align:left;">
          <label class="control-label" for="dotNotation">Dot Notation</label>
          <input type="text" class="input-xlarge required" id="dotNotation" placeholder="Dot Notation">
        </td>
        <td style="text-align:left;">
        </td>
      </tr>
      <tr>
        <td style="text-align:left;" colspan="2">
          <label class="control-label" for="description">Description</label>
          <textarea type="text" class="textarea-xxlarge required" id="description" rows="3" readonly="readonly"></textarea>
        </td>
      </tr>
      </tbody></table>

  </div>
  <div class="modal-footer">
    <button class="btn btn-success" id="addButton" disabled="disabled"><i class="icon-tag"></i> Add Alignment to Session</button>
    <a onclick="$('#alignmentsModal').modal('hide');" class="btn">Cancel</a>
  </div>
</div>

  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="./appmain-expanded.js" type="text/javascript"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

<script src="./papaparse.min.js" type="text/javascript"></script>
<script src="./application.js" type="text/javascript"></script>
<script id="hiddenlpsubmitdiv" style="display: none;"></script>

</body></html>